* {
    font-family: sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/bg/bg.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
}


.nav {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap !important;
    border: none !important;
    padding-bottom: 10px;
}

.nav-item .nav-link {
    background-color: white !important;
    color: #0DCAF0;
    font-weight: bold;
    border: 2px solid #0DCAF0 !important;
    border-bottom: 3px solid #0DCAF0 !important;
    margin: 0 1px;
    cursor: pointer;
    border-radius: 5px !important;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item .selected {
    background-color: #0DCAF0 !important;
    border-color: #0DCAF0 !important;
}

.nav .correct-answer {
    border-color: #198754 !important;
    background-color: #198754 !important;
}

.nav .incorrect-answer {
    border-color: #DC3545 !important;
    background-color: #DC3545 !important;
    color: white !important;
}

.nav-item .active {
    border-color: black !important;
    color: black !important;
}

.nav-item .nav-link:hover {
    color: black !important;
}

.tab-content .no-answer-box{
    height: 30px;
    width: 200px;
}

.quiz .bottom .not-allowed-button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    opacity: 0.5;
}

.nav::-webkit-scrollbar {
    height: 7px;
    background-color: white;
}

/* Track */
.nav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px white;
    border-radius: 5px;
}

/* Handle */
.nav::-webkit-scrollbar-thumb {
    background: #0DCAF0;
    border-radius: 5px;
}

@media (max-width: 576px) {
    .nav::-webkit-scrollbar {
        height: 4px;
        background-color: white;
    }

    .quiz .mobile-username {
        display: block !important;
    }

    .quiz .desktop-username {
        display: none;
    }

    .nav {
        margin-top: 20px !important;
        margin-bottom: 50px !important;
    }
}

.Home label {
    color: #0DCAF0;
    font-weight: bold;
}

.quiz .mobile-username {
    display: none;
}

.quiz .time-box {
    width: 150px;
    border-radius: 5px;
}

.Home .left-col .card {
    border-radius: 7px !important;
}

.Home .left-col .card-body img {
    border-radius: 7px !important;
}


@media (max-width: 576px) {

    .top {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .Home .left-col {
        margin-top: 15px;
        margin-bottom: 0;
        height: initial;
    }

    .Home button, .Result button{
        width: 100% !important;
        display: block !important;
    }

    .Home .btn-box, .Result .btn-box{
        display: block !important;
    }

    .Home .right-col .h-100 {
        height: initial !important;
        margin-top: 5px;
    }

    .Home .right-col {
        height: initial !important;
        padding-bottom: 15px !important;
    }

    .Result .card {
        height: calc(100vh - 70px);
    }

    .Result .card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .quiz .desktop-answer-box{
        display: none !important;
    }

    .quiz .mobile-top-button-box{
        width: 100%;
        justify-content: space-between !important;
    }

}










